.bigBG {
    width: 100%;
    padding: 0 70px 0 70px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgb(190, 190, 190), rgb(113, 113, 113));
    &_wrap {
        max-width: 1200px;
    }
}
@media (max-width:575px) {
    .bigBG {
        padding: 0 7px 0 7px;
    }
}