.chip {
    margin-top: 45px;
    h2 {
        text-align: center;
        text-transform: uppercase;
        }
    &_descr {
        margin-top: 10px;
    }
}
.program {
    margin-top: 45px;
    &_wrap {
        h2 {
            text-align: center;
            text-transform: uppercase;
        }
        &_descr {
            margin-top: 10px;
        }
        &_subtitle {
            margin-top: 10px;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
        }
        &_block {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &_mini {
                margin-top: 10px;
                &_subsub {
                    font-size: 18px;
                    font-weight: 600;
                    text-align: left;
                }
                .list {
                    margin-top: 10px;
                    list-style-type: none;
                }
            }
        }
    }
}
.marketing {
    margin: 40px auto;
    max-width: 1200px;
    .subheader {
        text-align: center;
        font-size: 20px;
        font-weight: 700;  
        letter-spacing: 1.08px; 
        margin-top: 40px; 
        text-transform: uppercase; 
    }
    .subbody {
        margin-top: 10px;
        text-align: left;
        font-size: 18px;
        font-weight: 600;  
        letter-spacing: 1.08px; 
    }
    .paragraphs {  
        margin-top: 10px;
        list-style-type: none;      
    } 
    .privilege {
        flex-direction: column;
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 700px;
        margin: 0 auto;
        .element {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .icons {
                margin-right: 5px;
                margin-top: 7px;
                img {
                    width: 40px;
                    height: 50px;
                }
            } 
        }         
    }
}
.check {
    color:#e89a2a;
}
.dash {
    display: inline-block;
    margin-right: 5px;
    width: 10px; 
    height: 10px;
    background: #83A7C9;
    border-radius: 50%;
}


 